.footer {
    height: 252px;
    left: 0px;
    top: 2676px;

    background: $footer-bg;

    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    
        letter-spacing: 0.03em;
    
        color: $other-text-color;
    }
    
    &__web {
        color: $secondary-text-color;
    }
    
    &__address {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    
        letter-spacing: 0.03em;
    
        color: $secondary-text-color;
        font-style: normal;
    
    }
    
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    
        letter-spacing: 0.03em;
    
        color: $footer-link;
    
    }
    
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: $secondary-text-color;
    
    }

}