.footer {

    padding-bottom: 60px;
 

    background: $footer-bg;
    padding-top: 60px;

    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;

        letter-spacing: 0.03em;

        color: $other-text-color;

    }

    &__web {
        color: $secondary-text-color;
    }

    &__address {
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        letter-spacing: 0.03em;

        color: $secondary-text-color;
        font-style: normal;

    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        letter-spacing: 0.03em;

        color: $footer-link;

    }

    &__item{
        margin-top: 9px;
    }




    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $secondary-text-color;

    }

    & .container {
        display: flex;
    }


    &__networks {
        @extend %flex;
        flex-direction: row;
        margin-top: 20px;
    }


    .networks__link:hover {
        background-color: #2196F3;
        fill: #ffff;
    }

    .networks__icon {
        width: 20px;
        height: 20px;
    }


}

.container2 {
    padding-left: 70px;
}

.subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contsiner3 {
    padding-left: 93px;

}

.input {

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    padding-left: 16px;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    margin-left: 12px;

    &__svg {
        margin-left: 10px;
        fill: #FFFFFF;
    }
}

.form{
    display: flex;
    align-items: center;
    margin-top: 20px;
}