.header{
    height: 80px;

    & .container{
        display: flex;
    }

    &__nav{
        display: flex;
    }

    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    
        letter-spacing: 0.03em;
    
        color: $other-text-color;
    }
    
    &__web {
        color: $black-text-color;
    }
    
     &__pages{
        display: flex;

    } 
    
    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: $main-text-color;
    
        &:hover {
            color: $other-text-color;
        }
    
    }

    &__contacts{
        display: flex;
    }
    
    &__contact-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: $dark-text-color;
    
        &:hover {
            color: $other-text-color;
        }
    
    }
}




