header{
    height: 80px;

    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    
        letter-spacing: 0.03em;
        padding-top: 65px;
    
        color: $other-text-color;
    }
    
    &__web {
        color: $black-text-color;
    }
    
    //  .header__pages{
    //     display: flex;
    //     justify-content: center;
    //     margin-top: -20px;
    // } 
    
    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: $main-text-color;
    
        &:hover {
            color: $other-text-color;
        }
    
    }
    
    &__contact-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: $dark-text-color;
    
        &:hover {
            color: $other-text-color;
        }
    
    }
}




