.posters{
    @extend %flex;

    gap: 30px;

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
    
        letter-spacing: 0.06em;
    
        color: $main-text-color;
    
    }
    
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    
        letter-spacing: 0.03em;
    
        color: $dark-text-color;
    
    }    

    &__item{
        width: 370px;
        
    }
    
}

