$main-text-color: #212121;
$secondary-text-color: #FFFFFF;
$other-text-color: #2196F3;
$dark-text-color: #757575;
$seldom-text-color: #F5F4FA;
$black-text-color: #000000;
$footer-bg: #2F303A;
$footer-link: #FFFFFF99;